main {
    padding: 0 120px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header .name {
    color: #D3573C;
}

.photograph-header .container {
    display: flex;
    flex-direction: column;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #DB8876;
    color: #000000;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.filter_section {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.btn_drop, 
.dropdown_content li button {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #901C1C;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    font-family: DM Sans;
    border-color: transparent;
    padding: 15px;
    align-items: center;
    width: 100%;
}

.btn_drop{
    width: 170px;
}

.dropdown_content li {
    width: 170px;
}

li {
    list-style: none;
}

.dropdown_content li::before {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 85%;
    height: 1px;
    background-color: white;
}

.photograph-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 95px;
}


.gallery-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



img, video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    will-change: transform;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-media a {
    height: 260px;
}

h2 {
    color: #901C1C;
}

.btn_like {
    background-color: white;
    border-color: transparent;
}

.fa-heart {
    background-clip: text;
    color: #901C1C;
}

/* MODAL FORM */
.modal_form {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    opacity: 0;
    transform: translateY(-150px);
    animation: fadeIn .3s ease-in-out forwards;
}

.modal_form_title{
    width: 100%;
    font-size: 32px;
}

.modal_form_title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    font-size: 32px;
}

.btn_close:hover::before{
    color: #DB8876;
}
.btn_close:focus:not(:hover)::before{
    outline: 2px solid #DB8876;
}

.btn_close::before{
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    padding: 5px;
    border-radius: 5px;
    font-weight: 900;
    color: #fff;
    background-color: #DB8876;
    border-color: transparent;
    font-size: 32px;
}

.modal_form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_content label {
    color: #312E2E;
    font-size: 28px;
}

.form_content input {
    height: 50px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}

.form_content textarea {
    border-radius: 5px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.form_content span{
    color: #000;
    font-size: 28px;
}

.form_content input:invalid:focus,
.form_content textarea:invalid:focus {
    outline: 2px solid #901C1C;
} 

.btn_submit{
    max-width: 150px;
    color: #fff;
    text-align: center;
}

.btn_submit:hover,
.btn_submit:focus {
    outline: 2px solid #fff;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}