.page {
    max-width: 1400px;
    margin: 0px auto;
    padding: 30px 20px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 120px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
}

.btn{
    font-size: 18px; 
    font-weight: bold;
    padding: 15px;
    height: 50px;
    border-radius: 5px;
    background-color: #901C1C;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section a {
   cursor: pointer; 
   text-align: center;
   text-decoration: none;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
}


.photographer_section article .location {
    color: #901C1C;
    font-size: 13px;
    font-weight: 400;
}

.photographer_section article .tagline {
    font-size: 10px;
    font-weight: 400;
}

.photographer_section article span {
    color: #757575;
    font-size: 9px;
    font-weight: 400;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* RESPONSIVE */
@media (min-width: 768px) and (max-width: 1023px) {
    header{
        flex-direction: column;
    }

    h1 {
        margin-right: 0;
    }

    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767.98px) {

    header{
        flex-direction: column;
    }

    h1 {
        margin-right: 0;
    }

    .photographer_section {
        grid-template-columns: 1fr;
    }

}

